//una clase que van a heredar todos los botones
.btn{
    padding: 10px;
    border-radius: 20px;
    box-shadow: $shadow;
    transition: all .3s ease-in;    
    outline: none;
    border: none;
    cursor: pointer;
    margin: 10px;
    font-size: 15px;
    font-weight: 900;
    color: $primary;
    &:hover{
        transform: scale(1.05);
    }
}

.btn-primary{
    background: transparent;
    border: 3px solid $second;
    width: 150px;
    &:hover{
        background-color: $second;
        color: $font-light;
    }
}
.btn-primary:disabled{
    background: #e7e7e7;
    box-shadow: none;
    border: 2px solid #c2c2c2;
    &:hover{
        transform: scale(1.0);
        color: $primary;
    }
}
.btn-danger{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px;
    color: $font-light;
    background-color: $second;
}

.google-btn{
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    height: 47px;
    background-color: $googel-bue;
    border-radius: 25px;
    box-shadow: 0 3px 4px 0 rgba($color: #000000, $alpha: .25);

    transition: box-shadow 0.3s ease;

    .google-wrapper{
        position: absolute;
        width: 47px;
        height: 47px;
        border-radius: 25px 0 0 25px;
        background-color: $font-light;
    }
    .google-icon{
        position: absolute;
        margin-top: 13px;
        margin-left: 14px;
        width: 23px;
        height: 23px;
    }

    .btn-text{
        float: right;
        margin-top: 13px;
        margin-right: 150px;
        color: $font-light;
        font-size: 18px;
        letter-spacing: 0.4px;
    }

    &:hover{
        box-shadow: 0 0 15px $googel-bue;
    }
    &:active{
        background: $button-active-blue;
    }
}
.github{
    background-color: #222;

    &:hover{
        box-shadow: 0 0 15px #222;
    }
}
@media (max-width: 420px) {
    .google-btn .btn-text{
        margin-right: 85px;
    }
    .btn-danger{
        width: 100px;
    }
}