// colors

$primary: #24345f; 
$second: #DB255D;
$dark-gray: #363636;
$light-gray: #d8d8d8;
$font-light: #fafafa;
$font-dark: #222;
$light-background: #eee;
$shadow: 0 0 13px 0 rgba(88, 88, 88, 0.712);
$shadow-light: 0 0 13px 0 rgba(135, 176, 223, 0.5);

// Google Button

$white: #eee;
$googel-bue: #4285f4;
$button-active-blue: #1669f2;